@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Inter';
    background-color: #E5E5E5;
}

.logo {
    margin-left: 16px;
    margin-top: 24px;
    width: 31px;
    height: 48px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    float: left;
}

.main-canvas {
    font-style: normal;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    text-align: center;
}

.canvas-forca {
    width: 560px;
    height: 260px;
    border:1px solid #000000;
}
.main-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 16px;
}

.main-linha {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-linha {
    height: 80px;
    width: 72px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 150%;
    color: #0A3871;
    border: none;
}

.input-linha:focus {
    border: none;
}

.linha {
    padding-right: 20px;
    color: #0A3871;
}

.letras-digitadas {
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 24px;
    width: 100%;
    height: 36px;
}

.letras {
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    border: none;
    text-align: center;
    color: #495057;
}

.letras:focus {
    border: none;
}

.main-buttons {
    font-style: normal;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    text-align: center;
    margin-left: 16px;
}

.main-buttons-first {
    width: 317px;
    height: 60px;
    border-radius: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 15px;
    background-color: #0A3871;
    color: #fff;
}

.main-buttons-first:hover {
    color: #E5E5E5;
    background-color: #0d72ec;
}

.main-buttons-second {
    width: 317px;
    height: 60px;
    border-radius: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    background-color: #E5E5E5;
    color: #0A3871;
}

.main-buttons-second:hover {
    background-color: #fff;
    color: #000;
}

.footer {
    display: flex;
    width: 100%;
    margin-top: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: burlywood;
}

.footer-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    background-color: burlywood;
}

  @media screen and (max-width: 782px) {

    .main-linha {
        width: 50px;
    }

    .input-linha {
        height: 40px;
        width: 40px;
        font-size: 34px;
        color: #0A3871;
        border: none;
    }

    .linha {
        padding-right: 10px;
    }

    .main-inf {
        margin-right: 10em;
    }

    .main-buttons {
        flex-direction: column;
        align-items: center;
    }
  }

  @media screen and (max-width: 375px) {

    .main-linha {
        width: 38px;
    }

    .linha {
        padding-right: 5px;
    }

    .input-linha {
        height: 40px;
        width: 28px;
        font-size: 24px;
        color: #0A3871;
        border: none;
    }

    .main-inf {
        margin-right: 10em;
    }

    .main-buttons {
        flex-direction: column;
        align-items: center;
    }
  }
