@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Inter';
    background-color: #E5E5E5;
}

.logo {
    margin-left: 16px;
    margin-top: 24px;
    width: 31px;
    height: 48px;
}

.main {
    width: 100%;
    float: left;
}

.main-texto {
    margin-left: 16px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
}

.main-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 16px;
    margin-top: 160px;
}

.main-linha {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-linha {
    height: 80px;
    width: 72px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 150%;
    color: #0A3871;
    border: none;
}

.input-linha:focus {
    border: none;
}

.linha {
    padding-right: 10px;
    color: #0A3871;
}

.main-linha:hover {
    color: red;
}

.main-inf {
    margin-top: 70px;
    margin-right: 30em;
    margin-left: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.inf {
    width: 16px;
    height: 16px;
}

.inf-text {
    margin-left: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
}

.main-buttons {
    font-style: normal;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    text-align: center;
    margin-left: 16px;
}

.main-buttons-first {
    width: 317px;
    height: 60px;
    border-radius: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 15px;
    background-color: #0A3871;
    color: #fff;
}

.main-buttons-first:hover {
    color: #E5E5E5;
    background-color: #0d72ec;
}

.main-buttons-second {
    width: 317px;
    height: 60px;
    border-radius: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    background-color: #E5E5E5;
    color: #0A3871;
}

.main-buttons-second:hover {
    background-color: #fff;
    color: #000;
}

.footer {
    display: flex;
    width: 100%;
    margin-top: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: burlywood;
}

.footer-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    background-color: burlywood;
}

  @media screen and (max-width: 766px) {
    .main-inf {
        margin-right: 10em;
    }

    .main-buttons {
        flex-direction: column;
        align-items: center;
    }
  }

  @media screen and (max-width: 375px) {
    .main-inf {
        margin-right: 10em;
    }

    .main-buttons {
        flex-direction: column;
        align-items: center;
    }
  }
